/* Reset and Global Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body.light-mode {
    background-color: #6e4820;
    color: #fff;
}

body.dark-mode {
    background-color: #3e2914;
    color: #ccc;
}

/* Header Styles */
header {
    background-color: #5aab4f;
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    background: none;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #4e944f;
}

.navbar.hidden {
    display: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #39723a;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block; /* Ensure it doesn't stretch across the screen */
}

.dropdown-btn {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 50%;
    text-align: left;
    background-color: #4e944f;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Adjust dropdown content */
.dropdown-content {
    display: none;
    position: flex;
    top: 100%; /* Place below the button */
    left: 0;
    background-color: #39723a;
    min-width: 50px; /* Restrict the width */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 25%; /* Ensure the link fills the container width */
}

.dropdown-content a:hover {
    background-color: #555;
}

/* Show the dropdown when active */
.dropdown.active .dropdown-content {
    display: block;
}

/* Main Section */
main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Server Status Section */
#server-status {
    text-align: center;
    margin-bottom: 30px;
}

#players-list-container {
    margin-top: 20px;
}

.scrollable-list {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
}

#players-list li {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

/* Toggle Styles */
#toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#toggleCanvas {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    background-color: #7d7d7d;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}
